---
import { LOGOS } from "../../constants/logos";
import H2 from "../ui/H2.astro";
import Text from "../ui/Text.astro";
const { t } = Astro.props;
---

<section id="about-me" class="bg-tertiary shadow-2xl overflow-hidden">
  <div
    class="px-10 md:py-20 z-10 min-h-screen md:max-w-[800px] py-10 mx-auto flex flex-col align-middle justify-center gap-5"
  >
    <H2>{t.about.title}</H2>
    <div class="text-on-tertiary text-justify leading-8 space-y-5">
      <Text>{t.about.p1}</Text>

      <Text>
        {t.about.p2}
      </Text>
      <Text>
        {t.about.p3}
      </Text>
    </div>

    <div class="flex flex-row w-4/3 gap-7 justify-between -ml-15 py-8">
      {
        LOGOS.map((logo) => {
          const duration = (2 + Math.random() * 2).toFixed(2);
          const delay = (Math.random() * 2).toFixed(2);
          return (
            <img
              style={`animation-duration: ${duration}s; animation-delay: ${delay}s;`}
              class="w-auto h-15 lg:h-20 animate-float active:rotate-9"
              src={`/logos/${logo.path}.png`}
              alt={logo.alt}
            />
          );
        })
      }
    </div>
  </div>
</section>
