---
import { INTRO_BAGDES } from "../../constants/introBages";
import Badge from "../ui/Badge.astro";
import Button from "../ui/Button.astro";
import HeroTitle from "../ui/HeroTitle.astro";
import Link from "../ui/Link.astro";
import MeSVG from "../ui/MeSVG.astro";
import Text from "../ui/Text.astro";

const { t } = Astro.props;
---

<section
  class="w-full h-svh flex flex-col items-space-between justify-between items-center gap-5 px-10 overflow-y-hidden"
>
  <h1 class="sr-only">ALVARO ALARCON WEB DEV</h1>
  <HeroTitle />

  <div class="flex flex-col gap-5 max-w-[700px]">
    <div>
      <p class="text-white font-bebas text-4xl md:text-5xl lg:text-6xl uppercase">
        {t.intro.title}
      </p>
      <Text>{t.intro.subtitle}</Text>
    </div>

    <div class="flex gap-2 flex-wrap">
      {
        INTRO_BAGDES.map((badge, index) => {
          return <Badge text={badge.text} />;
        })
      }
    </div>
  </div>

  <div class="flex gap-5">
    <MeSVG />
    <div class="flex flex-col gap-5">
      <p class="text-on-primary text-center font-bebas text-3xl md:text-4xl lg:text-6xl">
        {t.intro.punchline}
      </p>
      <div class="flex flex-col gap-5 animate-pulse">
        <Link href="#about-me" variant="secondary" text={t.intro.buttons.learnMore} />
        <Link href="#contact" variant="secondary-reversed" text={t.intro.buttons.contactMe} />
      </div>
    </div>
  </div>
</section>
