---
import { CONTACT_FORM_INPUT } from "../../constants/contactForm";
import Button from "./Button.astro";
import Input from "./Input.astro";
---

<form
  action="https://formsubmit.co/alvaro.alarcon.bermejo@gmail.com"
  id="contactForm"
  method="POST"
  class="flex flex-col gap-5 mt-5"
>
  {
    CONTACT_FORM_INPUT.map((input) => {
      return (
        <div class="flex flex-col gap-2">
          <label class="text-on-tertiary font-bold md:text-2xl" for={input.name}>
            {input.label}
          </label>
          <Input inputName={input.name} type={input.type} placeholder={input.placeholder} />
        </div>
      );
    })
  }
  <input type="text" name="_honey" style="display:none" />

  <ul id="errors" class="p-4 bg-on-secondary font-bold text-red-950 text-sm hidden"></ul>

  <Button type="submit" variant="on-secondary" text="Send" />
</form>

<script>
  import { contactSchema } from "../../schemas/contactSchema";

  const form = document.getElementById("contactForm") as HTMLFormElement;
  const errors = document.getElementById("errors");

  if (form && errors) {
    form.addEventListener("submit", (e) => {
      errors.innerHTML = "";
      errors.style.display = "hidden";
      const formData = Object.fromEntries(new FormData(form));

      const result = contactSchema.safeParse(formData);

      if (!result.success) {
        e.preventDefault();
        errors.style.display = "block";
        result.error.issues.forEach((issue) => {
          const li = document.createElement("li");
          li.textContent = issue.message;
          errors.appendChild(li);
        });
        return;
      } else {
        console.log("Validation passed, form will submit");
      }
    });
  }
</script>
