---
import { CONTACT_FORM_INPUT } from "../../constants/contactForm";
import Button from "./Button.astro";
import Input from "./Input.astro";
const { t } = Astro.props;
---

<form
  action="https://formsubmit.co/5f1b0f033451bf1c36e91763c86db3c2"
  id="contactForm"
  method="POST"
  class="flex flex-col gap-5 mt-5"
>
  {
    CONTACT_FORM_INPUT.map((input) => {
      return (
        <div class="flex flex-col gap-2">
          <label class="text-on-tertiary font-bold md:text-2xl" for={input.name}>
            {t.contact.form[input.labelKey]}
          </label>
          <Input
            id={input.name}
            inputName={input.name}
            type={input.type}
            placeholder={t.contact.form[input.placeholderKey]}
          />
          <ul
            class="error-messages p-4 bg-on-secondary font-bold text-red-950 text-xs hidden"
            id={`${input.name}-ul`}
          />
        </div>
      );
    })
  }
  <input type="text" name="_honey" style="display:none" />
  <input type="hidden" name="_autoresponse" value={t.contact.form.autoresponse} />
  <input type="hidden" name="_next" value="https://www.alvaroalarcon.com/thanks" />
  <Button type="submit" variant="on-secondary" text={t.contact.form.CTA} />
</form>

<script>
  import { contactSchema } from "../../schemas/contactSchema";
  const form = document.getElementById("contactForm") as HTMLFormElement;
  const errorMessagesContainers = document.querySelectorAll<HTMLElement>(".error-messages");
  errorMessagesContainers.forEach((container) => (container.innerHTML = ""));
  const inputs = document.querySelectorAll("input, textarea") as NodeListOf<HTMLInputElement>;
  inputs.forEach((input) => input.classList.remove("input-error"));

  if (form && errorMessagesContainers) {
    form.addEventListener("submit", (e) => {
      document.querySelectorAll("input").forEach((input) => input.classList.remove("input-error"));

      errorMessagesContainers.forEach((container) => {
        container.innerHTML = "";
        container.style.display = "none";
      });

      const formData = Object.fromEntries(new FormData(form));
      const result = contactSchema.safeParse(formData);

      if (!result.success) {
        e.preventDefault();
        const { fieldErrors } = result.error.flatten();

        Object.entries(fieldErrors).forEach(([field, messages]) => {
          const input = document.getElementById(field);
          if (input) {
            input.classList.add("input-error");
          }

          const ul = document.getElementById(`${field}-ul`);
          if (ul) {
            messages.forEach((msg) => {
              const li = document.createElement("li");
              li.classList.add("p-2");
              li.textContent = msg;
              ul.appendChild(li);
            });
            ul.style.display = "block";
          }
        });

        return;
      }
    });
  }

  inputs.forEach((input) => {
    input.addEventListener("blur", () => {
      const currentInputValidation = contactSchema.pick({ [input.name]: true } as any);
      const result = currentInputValidation.safeParse({ [input.name]: input.value });
      if (!result.success) {
        const message = result.error.errors[0].message;
        input.classList.add("input-error");
        const ul = document.getElementById(`${input.name}-ul`);
        if (ul) {
          ul.innerHTML = "";
          const li = document.createElement("li");
          li.classList.add("p-2");
          li.textContent = message;
          ul.appendChild(li);
          ul.style.display = "block";
        }
      } else {
        input.classList.remove("input-error");
        const ul = document.getElementById(`${input.name}-ul`);
        if (ul) {
          ul.innerHTML = "";
          ul.style.display = "none";
        }
      }
    });
  });
</script>
