---
import { CONTACT_FORM_INPUT } from "../../constants/contactForm";
import Button from "./Button.astro";
import Input from "./Input.astro";
---

<form
  action="https://formsubmit.co/alvaro.alarcon.bermejo@gmail.com"
  id="contactForm"
  method="POST"
  class="flex flex-col gap-5 mt-5"
>
  {
    CONTACT_FORM_INPUT.map((input) => {
      return (
        <div class="flex flex-col gap-2">
          <label class="text-on-tertiary font-bold md:text-2xl" for={input.name}>
            {input.label}
          </label>
          <Input
            id={input.name}
            inputName={input.name}
            type={input.type}
            placeholder={input.placeholder}
          />
          <ul
            class="error-messages p-4 bg-on-secondary font-bold text-red-950 text-sm hidden"
            id={`${input.name}-ul`}
          />
        </div>
      );
    })
  }
  <input type="text" name="_honey" style="display:none" />

  <Button type="submit" variant="on-secondary" text="Send" />
</form>

<script>
  import { contactSchema } from "../../schemas/contactSchema";

  const form = document.getElementById("contactForm") as HTMLFormElement;
  const errorMessagesContainers = document.querySelectorAll<HTMLElement>(".error-messages");
  errorMessagesContainers.forEach((container) => (container.innerHTML = ""));
  document.querySelectorAll("input").forEach((input) => input.classList.remove("input-error"));

  if (form && errorMessagesContainers) {
    form.addEventListener("submit", (e) => {
      document.querySelectorAll("input").forEach((input) => input.classList.remove("input-error"));

      errorMessagesContainers.forEach((container) => {
        container.innerHTML = "";
        container.style.display = "none";
      });

      const formData = Object.fromEntries(new FormData(form));
      const result = contactSchema.safeParse(formData);

      if (!result.success) {
        e.preventDefault();
        const { fieldErrors } = result.error.flatten();

        Object.entries(fieldErrors).forEach(([field, messages]) => {
          const input = document.getElementById(field);
          if (input) {
            input.classList.add("input-error");
          }

          const ul = document.getElementById(`${field}-ul`);
          if (ul) {
            messages.forEach((msg) => {
              const li = document.createElement("li");
              li.textContent = msg;
              ul.appendChild(li);
            });
            ul.style.display = "block";
          }
        });

        return;
      } else {
        console.log("Validation passed, form will submit");
      }
    });
  }
</script>
